/* .nothing {
  background: hsla(31, 90%, 76%, 1);
  height: 100vh;

  background: linear-gradient(
    90deg,
    hsla(31, 90%, 76%, 1) 0%,
    hsla(302, 82%, 76%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(31, 90%, 76%, 1) 0%,
    hsla(302, 82%, 76%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(31, 90%, 76%, 1) 0%,
    hsla(302, 82%, 76%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#F9C58D", endColorstr="#F492F0", GradientType=1 );
} */

table {
  margin-top: 2em;
}

tr td:nth-child(2) {
  min-width: 10em;
}

.todolist {
  min-width: 20em;
  padding: 3em;
  border-radius: 1em;
  border: solid 1px;
  border-color: rgb(215, 236, 250);
  box-shadow: grey 1px 1px;
  background-color: #e3e3e355;
}
